html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 6rem;
}

.pusher {
    /*min-height: 100%;*/
    min-height:100%;
    position:relative;
}

.wrapper.home {
    padding-top: 0;
    padding-bottom: 190px;
}

.wrapper {
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 34px;
    padding-bottom: 380px;
}

.wrapper.sell {
    padding-top: 0;
    padding-bottom: 200px;
    background:url("../images/for_sale.png") no-repeat scroll right top transparent;
    background-size: cover;
}

.wrapper.article {
    padding-top: 0;
    padding-bottom: 200px;
}

div.ui.grid.container {
    min-height: 100%;
    /*padding-bottom: 180px;*/
}

.ui.inverted.segment.footer {
    background: #000;
    width:100%;
    height:180px;
    position:absolute;
    bottom:0;
    left:0;
}

.logo{
    position: absolute;
    width: 300px;
    height: 65px;
    background-color: #fff;
    z-index: 100;
    top: 20px;
    -webkit-box-shadow: 1px 7px 5px -5px rgba(128,128,128,0.63);
    -moz-box-shadow: 1px 7px 5px -5px rgba(128,128,128,0.63);
    box-shadow: 1px 7px 5px -5px rgba(128,128,128,0.63);
}

.logo > a img {
    width: 90%;
    padding: 12px 10px 5px 10px;
}

.top-nav {
    background-color: #f26235;
    position: relative;
    top: -20px;
    height: 60px;
    z-index: 90;
}

.small-logo {
    width: 300px;
    height: auto;
    background-color: #fff;
    padding: 5px 15px;
}

.small-logo > a img {
    width: 98%;
}

.intro{width:70%; margin: 0 auto; padding: 20px 0; min-height: 200px;}

.ui.green.table {
    width: 100%;
    border-top: .2em solid #7DA248;
}

.main-icon i {
    color: #dddbdb;
    padding-bottom: 20px;
}

.ui[class*="top fixed"].menu {
    background-color: #f26235;
    color: #fff;
    height: 50px;
}

.ui.menu .active.item, .ui.menu .item {
    color: #fff;
}

.ui.secondary.inverted.pointing.menu .active.item {
    border-color: #A7CF44;
}

.ui.secondary.pointing.menu .item{
    padding: .78714286em 1.14285714em;
    border-bottom-width: 5px;
}

.ui.menu .item:before { background: none;}

.ui.inverted.masthead.segment.home  {
    background:url("../images/1.0_home.jpg") no-repeat scroll center top transparent;
    background-size: cover;
    border-bottom: 2px solid rgba(163,161,163,1);
    -webkit-box-shadow: 0px 17px 52px -16px rgba(163,161,163,1);
    -moz-box-shadow: 0px 17px 52px -16px rgba(163,161,163,1);
    box-shadow: 0px 17px 52px -16px rgba(163,161,163,1);
}

.ui.inverted.segment { background: none;}

.ui > .container {width: 90%; margin: 0 auto; }

.ui.secondary.inverted.pointing.menu { border-width: 0;}

.ui.secondary.pointing.menu { border-bottom: none}

.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
    /*background-color: #00a65a;*/
}

.ui.form input.main-search {width: 55%; margin-bottom: 20px;}

.ui.form.sell { width: 90%; margin: 0 auto;}

div.ui.large.button, div.ui.small.home.button, .ui.fluid.button.home
{ background-color: #f26235; border-bottom: 3px solid #cc522c; color: #fff; bottom: 0; position: relative}

div.ui.small.home.button > a {
    color: #fff;
}

div.ui.text.container {
    max-width: 1250px !important;
    background: rgba(255, 255, 255, 0.8);
    padding-bottom: 25px;
    font-size: 13px;
}

.sell > div.ui.text.container {
    max-width: 1250px !important;
    background: rgba(255, 255, 255, 0.9);
    padding-bottom: 25px;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 13px;
    position: relative;
    left: 0;
    right: 0;
    top: 20px;
}

.masthead h1.ui.header.sell {
    margin-top: 5%;
}

.masthead h1.ui.header {
    margin-top: 3em;
    /*margin-bottom: 0em;*/
    font-size: 3em;
    font-weight: normal;
    color: #000;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
    padding-top: 10px;
    color: #7ea248;
    line-height: 1em;
    font-family: 'Roboto', sans-serif;
}

.ui.vertical.stripe {
    padding: 4em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.24em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

p.bottom{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* LOGIN FORM */

.loginBox{
    margin: 175px auto 0 auto;
}

.login::after {
    content: "";
    background: url(../images/1.0_login-page.jpg);
    background-size: cover;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

h2.ui.header {
    color: #666;
    font-size: 1.314rem;
    margin: calc(1rem - 0.14285em ) 0em 1rem;
}

/*.login {*/
    /*background:url("../images/login-page.jpg") no-repeat;*/
    /*background-size: cover;*/
    /*background: rgba(255, 255, 255, 0.6);*/
/*}*/

.image{
    width: 70%;
    display: inline-block;
    margin-top: 100px;
    padding-bottom: -19px;
}

.column.loginBox {
    max-width: 450px;
}

.ui.header .content {
       width: 90%
}

/* Articles */

.masthead.segment.articles {
    min-height: 0;
}

.articleHeader {
    margin-top: 35px;
}

.articleList { margin-bottom: 35px; padding: 25px 0;}

.ui.table tr td {padding-left: 10px; padding-right: 10px;}

.ui.table tr td.userPosts, .ui.table tr td.tableBtn {
    padding-top: 35px;
}

.ui.button.buy {
    font-size: .90em;
}

.mapContainer {
    margin-bottom: 20px;
}

#map {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    overflow: auto;
}

.ui.card > .content {
    font-size: .85em;
}

.image {
    width:100%;
    margin-top: 0;
}

.ui.cards > .card > a .extra {
    padding: .75em 1em;
}

.ui.segment {
    border:none;
    box-shadow: none;
}

.ui.column.grid > .mobile[class*="sixteen wide"], .ui.grid > .mobile[class*="sixteen wide"] {
    width: 80% !important;
    margin: 0 auto;
}

div.card {
    background: #FFF;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #D4D4D5,0 0 0 1px #D4D4D5;
}

div.extra {
    padding: .75em 1em;
}

h1 > span {
    font-size: 15px;
    color: #666;
}

h1 > span.address {
    font-size: 20px;
    color: #000;
}

img {
    width: 100%;
}

h2.ui.price {color: #fff;}

.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

.overlay {
    float: left;
    margin: 0em 3em 1em 0em;
}
.overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
}

.overlay.fixed .menu {
    left: 1050px;
}

.text.container .left.floated.image {
    margin: 2em 2em 2em -4em;
}
.text.container .right.floated.image {
    margin: 2em -4em 2em 2em;
}

.textWrapper {
    /*margin: 4% 5%;*/
    margin: 4% 5% 4% 0;
    width: 85%

}

.ui.compact.menu > a {
    color: #666;
}

.ui.compact.menu a:hover {
    background: #7ea248;
    color: #fff;
}

div.agent {
    margin: 0 38px;
}

h2.ui.header {
    font-size: 1rem;
}

.ui.compact.menu {
    margin: 10px 44px;
}

.ui.inverted.button {
    padding: .68571429em 1.25em;
    font-size: .75rem;
}

/* House Search - Individual */

.object {
    width: 100%;
    height: 10%;
    overflow: auto;
}

#gallery {
    width: 100%;
}

.marketInfo, .agentInfo {
    margin-top: 35px;
}

/* Modal */

.ui.basic.modal {
    background-color: #fff;
    border-radius: 3px;
}

.ui.basic.modal > .header, .description > p, .ui.form .field, .ui.modal > .close {
    color: #000;
}

.ui.modal > .content > .image + .description {
    width: 100%;
}

.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }

@media only screen and (max-width: 1199px) {
    .overlay.fixed .menu {
        left: 820px;
    }
}

@media only screen and (max-width: 991px) {
    .overlay.fixed .menu {
        left: 670px;
    }
}

@media only screen and (max-width: 760px) {
    .overlay.fixed .menu {
        left: 670px;
    }
}


@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
    div.header {
        font-size: 14px;
    }
    div.main-icon {
        font-size: 10px;
    }
    div.intro {
        font-size: 12px;
    }
    .overlay.fixed .menu {
        left:0;
    }

    .intro {
        min-height: 100px;
    }
}

/* Login Page */

.login-page, .register-page {
    background: url("../images/san-francisco.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: inherit;
}

.login-box-body, .register-box-body {
    box-shadow: 2px 4px 10px -3px rgba(102,102,102,1);
}
